<div class="footer-setup">
    <div class="container">
        <div class="col">
            <div class="rw2">
                <ul>
                    <li>Services</li>
                    <li>Works</li>
                    <li>Resume</li>
                    <li>Skills</li>
                    <li>Contact</li>
                </ul>
            </div>
            <img src="assets/logo.svg" alt="">
            <h2>© 2024 All rights reserved by Gabi Christian Neumann Opoku</h2>
        </div>
    </div>
</div>
