<div class="navbar-setup">
    <div class="container">
      <div class="rw">
        <div class="rw1">
          <img src="assets/logo.svg" alt="">
          <header>{{ gabiEmail }}</header>
        </div>
        <div class="rw2">
            <ul>
                <li>Services</li>
                <li>Work</li>
                <li>Resume</li>
                <li>Skills</li>
                <li>Contact</li>
                <li class="hire-me">Hire Me</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
