.navbar-setup {
    margin: 0px;
    padding: auto;
    background-image: url("/../assets/work/nav.svg");
    width: 100%;
    background-size: 100%;

    .container {
        padding: 30px 60px;

        @media (max-width: 460px) {
            padding: 10px;
        }

        .rw {

            .rw1 {
                gap: 10px;

                img {
                    width: 54px;
                    height: 51.06px;
                }

                .email {
                    font-size: 25px;
                    font-weight: 500;
                    color: white;
                }

                img:hover,
                header:hover {
                    cursor: pointer;
                }

                @media (max-width: 460px) {
                    img {
                        width: 34px;
                        height: 31px;
                    }

                    .email {
                        font-size: 16px;
                        counter-reset: attr('Christian Gabi');
                        font-weight: 500;
                        color: white;
                        display: none;
                    }

                    .name {
                        font-size: 16px;
                        counter-reset: attr('Christian Gabi');
                        font-weight: 500;
                        color: white;
                        display: block;
                    }
                }
            }

            .rw2 {

                @media (max-width: 460px) {
                    display: none;
                }

                ul {
                    display: flex;
                    gap: 35px;
                    text-decoration: none;
                    list-style-type: none;

                    li {
                        font-size: 25px;
                        font-weight: 500;
                        color: white;
                        position: relative;

                        &:hover {
                            cursor: pointer;

                            // Simulate a gradient underline using ::after
                            &::after {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: -4px; // Adjust position for underline
                                width: 100%;
                                height: 2px; // Thickness of the underline
                                background: linear-gradient(261.95deg, #7A48E0 21.88%, #9B6FF4 80.42%);
                            }
                        }

                        &.hire-me {
                            padding: 5px 15px;
                            border-radius: 50px;
                            background: linear-gradient(261.95deg, #7A48E0 21.88%, #9B6FF4 80.42%);
                            color: white;
                            font-size: 20px;
                            font-weight: 400;
                            text-decoration: none;

                            &::after {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: 0px; // Adjust position for underline
                                width: 0px;
                                height: 0px; // Thickness of the underline
                            }
                        }
                    }

                }
            }

            .menu {
                display: none;

                @media (max-width: 460px) {
                    display: block;

                    .row {
                        display: flex;
                        gap: 8px;
                        align-items: center;

                        .image {
                            height: 35px;
                            width: 35px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                    
                }
            }
        }
    }
}