<div class="navbar-setup">
  <div class="container">
    <div class="rw">
      <div class="rw1">
        <img src="assets/logo.svg" alt="" />
        <header class="email">{{ gabiEmail }}</header>
        <header class="name">Christian Gabi</header>
      </div>
      <div class="rw2">
        <ul>
          <li>Services</li>
          <li>Work</li>
          <li>Resume</li>
          <li>Skills</li>
          <li>Contact</li>
          <li class="hire-me">Hire Me</li>
        </ul>
      </div>

      <section>
        <div class="menu">
          <div class="row">
            <img [src]="_images.owner" alt="image" class="image">
            <img [src]="_images.menu" alt="">
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
