@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.home-setup {
    margin: 0px;
    padding: auto;
    z-index: 1000;
    width: 100%;

    .container {
        padding: 40px 60px;
        background-image: url("/../assets/work/hero-section.svg");
        object-fit: 100%;
        background-size: cover;


        .col {
            display: flex;
            flex-direction: column;

            .rw {
                width: 100%;

                .col-1 {
                    h3 {
                        font-size: 30px;
                        font-weight: 600;
                        color: white;
                    }

                    h1 {
                        max-width: 700px;
                        font-family: "Montserrat";
                        font-size: 60px;
                        font-weight: 900;
                        line-height: 70.28px;
                        text-align: left;
                        background: linear-gradient(269.59deg, #DFD1FD -3.44%, #8D58F8 63.64%);
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        animation: l1 5s linear infinite;
                        clip-path: inset(0 100% 0 0);
                    }

                    p {
                        font-family: "Montserrat";
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 30px;
                        text-align: left;
                        max-width: 400px;
                        color: white;
                    }

                    .first {
                        gap: 10px;
                        margin-top: 30px;

                        .btn {
                            border: 1px solid rgba(141, 88, 248, 1);
                            padding: 8px 15px;
                            border-radius: 50px;
                            color: white;

                            &:hover {
                                cursor: pointer;
                                background-color: rgba(141, 88, 248, 0.5);
                                border: 1px solid rgba(141, 88, 248, 0.5);
                                color: white;
                            }
                        }

                        .img {

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }

                }

                .image {
                    width: 360.79px;
                    height: 456px;
                    border-radius: 60px;
                }
            }

            .rw-3 {
                display: flex;
                justify-content: space-around;
                margin-top: 40px;

                .experience, 
                .projects, 
                .client-satisfaction {


                    .rw1 {
                        gap: 10px;

                        .yr, .prj, .sti {
                            font-size: 80px;
                            font-weight: 700;
                            color: white;
                        }

                        p {
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 30px;
                            text-align: left;
                            max-width: 100px;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

@keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}