<div class="home-setup">
    <div class="container">
        <div class="col">
            <div class="rw">
                <div class="col-1">
                    <h3>I am Gabi</h3>
                    <h1>Graphic Designer & UI/UX Designer</h1>
                    <p>
                        I specialize in dissecting intricate user experience 
                        challenges to craft seamless solutions that 
                        engage and connect with billions of users.
                    </p>
                    <div class="rw1 first">
                        <div class="btn">Download CV</div>
                        <img src="assets/icons/twitter.svg" class="img">
                        <img src="assets/icons/linkedin.svg" class="img">
                        <img src="assets/icons/pinterest.svg" class="img">
                        <img src="assets/icons/behance.svg" class="img">
                    </div>
                </div>
                <img src="assets/personl-image/gabi.png" class="image">
            </div>
            <div class="rw-3">
                <div class="experience">
                    <div class="rw1">
                        <div class="yr">4</div>
                        <p>Years of experience</p>
                    </div>
                </div>
                <div class="projects">
                    <div class="rw1">
                        <div class="prj">105+</div>
                        <p>Projects completed</p>
                    </div>
                </div>
                <div class="client-satisfaction">
                    <div class="rw1">
                        <div class="sti">90%</div>
                        <p>of client satisfaction</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-service></app-service>
    <app-works></app-works>
    <app-experience></app-experience>
    <app-skills></app-skills>
    <app-contacts></app-contacts>
</div>
